
h1 {
    font-size: 61px;
}
h2 {
    font-size: 48px;
    font-weight: 500;
    color: #2a3647;
}
.font_27 {
    font-size: 27px;
    font-weight: 400;
}
.headline_container {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
}
.summary_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-width: 800px;
}
.right {
    min-width: 300px;
}
.left {
    min-width: 250px;
}
.task_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 560px;
}
.tasks {
    width: 264px;
    height: 168px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.tasks:hover * {
    color: #f6f7f8;
}

.tasks:hover {
    cursor: pointer;
    background: #2a3647;
    transform: scale(1.05);
}
.status_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.size_64 {
    font-size: 64px;
    font-weight: 600;
    color: black;
}
.size_20 {
    font-size: 20px;
    font-weight: 400;
    color: #454f5e;
    text-align: center;
}
.urgent_task {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
.urgent_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.deadline_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 168px;
    width: 560px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
    margin-bottom: 32px;
}
.deadline_container:hover {
    cursor: pointer;
    background: #2a3647;
    transform: scale(1.05);
    color: #f6f7f8;
}
.deadline_container:hover * {
    color: #f6f7f8;
}
.overview_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
}
.overview {
    width: 108px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
    padding: 10px 30px 10px 30px;
}
.overview:hover * {
    color: #f6f7f8;
}

.overview:hover {
    cursor: pointer;
    background: #2a3647;
    transform: scale(1.05);
}

#urgentDate {
    font-size: 21px;
    font-weight: 700;
    color: #2a3647;
    padding-bottom: 7px;
}
#urgentDate:hover {
    color: #f6f7f8;
}

#logged_user {
    font-size: 64px;
    font-weight: 700;
    color: #29abe2;
}

@media (max-width: 1345px) {
   h2 {
    font-size: 32px;
   }

   .left {
    width: 150px;
   }

   .right {
    min-width: 200px;
   }

  }
  @media (max-width: 1290px) {
    h1 {
        font-size: 47px;
    }

    .font_27 {
        font-size: 18px;
    }

    .left {
        display: none;
    }

    .summary_container {
        display: block;
        min-width: 300px;
    }
  }
  @media (max-width: 880px) {
    .task_container {
        width: 420px;
        gap: 8px;
    }

    .deadline_container {
        width: 420px;
    }

    .overview_container {
        width: 420px;
        gap: 8px;
    }

    .headline_container {
        width: 420px;
    }
  }
  
