body {
    display: block;
}

a {
    text-decoration: none;
    color: #a8a8a8;
  }

.sign_up_container {
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
    height: 100%;
    width: 652px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    position: relative;
}

.icon_person {
    padding-right: 25px;
    background: url(../assets/img/icons/person.png) no-repeat right;
    background-size: 20px;
    background-position-x: calc(100% - 16px);
}

#accept_policy {
    width: 20px;
    height: 20px;
    border: none;
}

.text_blue {
    color: #36b0e4;
}

.arrow {
    position: absolute;
    top: 64px;
    left: 64px;;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.6s ease-in-out; 
    border-radius: 50%; 
    width: 24px; 
    height: 24px; 
    padding: 8px;
}

.arrow:hover {
    background-color: #f6f7f8; 
    width: 28px; 
    height: 28px; 
  }

  .modal-bg {
	display: none;
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content/Box */
.modal-content {
	margin: 30%;
	/* 10% from the top and centered */
	/* width: 400px;
	height: 150px; */
    /* text-align: center; */
    position: relative;
}

#msg {
    width: 312px;
    height: 74px;
    text-align: center;
    padding: 4px 25px 4px 25px;
    font-weight: 100;
    font-size: 21px;
    border-radius: 20px;
    /* font-family: "Inter", sans-serif; */
    background-color: #2a3647;
    color: white;
    position: absolute;
    bottom: 0;
    left: 30%;
    /* das Element um 50% seiner eigenen Breite nach links verschoben wird. Das Minuszeichen gibt an, dass die Verschiebung nach links erfolgt. */
    transform: translateX(-50%); 
    animation: slide-up 2s ease forwards;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
