body {
  display: block;
}

a {
  text-decoration: none;
  color: #a8a8a8;
}

.container_main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login_header {
  display: flex;
  justify-content: space-between;
  margin: 49px;
}

.logoBigStart {
  height: 100px;
  width: auto;
  margin-top: 31px;
  margin-left: 28px;
}

.login_sign_up {
  display: flex;
  align-items: flex-start;
  gap: 35px;
}

.font_size_20 {
  font-size: 20px;
  margin: 4px;
  font-weight: 400;
}

.login_section {
  display: flex;
  justify-content: center;
  flex: 1;
}

.login_container {
  background-color: white;
  border-radius: 30px;
  box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
  height: 100%;
  min-width: 652px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.login_form_head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 32px;
}

.login_form_head h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.login_input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login_btns {
  margin-inline: 50px 50px;
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 35px;
}

.login_remember_me {
  margin: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

#remember_me {
  width: 20px;
  height: 20px;
  border: none;
}

.login_footer {
  text-align: center;
  color: #a8a8a8;
  margin-bottom: 32px;
}

.icon_mail {
  padding-right: 25px;
  background: url(../assets/img/icons/mail.png) no-repeat right;
  background-size: 20px;
  background-position-x: calc(100% - 16px);
}

.icon_lock {
  padding-right: 25px;
  background: url(../assets/img/icons/lock.png) no-repeat right;
  background-size: 20px;
  background-position-x: calc(100% - 16px);
}

.passwordError {
  color: #fb3c53;
  font-size: 16px;
}

@media (max-width: 710px) {
  .login_sign_up {
    position: absolute;
    bottom: 72px;
    width: 320px;
    min-height: 80px;
    height: 80px;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .logoBigStart {
    width: 64px;
  }

  .login_container {
    min-width: 500px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 560px) {
  .login_container {
    min-width: 400px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media screen and (max-width: 500px), screen and (max-height: 845px) {
  .login_container {
    min-width: 300px;
  }

  .login_btns {
    flex-direction: column;
    margin-top: 15px;
    margin-inline: 15px 15px;
  }

  .login_form {
    margin-bottom: 64px;
  }

  .login_sign_up {
    gap: 8px;
  }
}

@media (max-width: 560px) {
  .login_sign_up {
    width: 280px;
  }

  #signUpBtn {
    font-size: 16px;
  }

  .font_size_20 {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .login_container {
    width: 260px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .login_sign_up {
    width: 260px;
  }
}
