.container_main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login_header {
    display: flex;
    justify-content: space-between;
    margin: 49px;
}

.login_header img {
    width: 100px;
    margin-top: 31px;
    margin-left: 28px;
}

.login_sign_up {
    display: flex;
    align-items: flex-start;
    gap: 35px;
}

.font_size_20 {
    font-size: 20px;
    margin: 4px;
    font-weight: 400;
}

.login_section {
    display: flex;
    justify-content: center;
    flex: 1;
}

.login_container {
    background-color: white;
    border-radius: 30px;
    box-shadow: -2px 0px 6px rgb(0, 0, 0, 0.2);
    height: 100%;
    width: 652px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.login_form_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 32px;
}

.login_form_head h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 64px;
}

.login_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_btns {
    margin-inline: 50px 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px
}

.login_remember_me {
    margin: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.login_footer {
    text-align: center;
    color: #a8a8a8;
    margin-bottom: 32px;
}

.icon_mail {
    padding-right: 25px;
    background: url(../assets/img/icons/mail.png) no-repeat right;
    background-size: 20px;
    background-position-x: calc(100% - 16px);
}

.icon_lock {
    padding-right: 25px;
    background: url(../assets/img/icons/lock.png) no-repeat right;
    background-size: 20px;
    background-position-x: calc(100% - 16px);
}