.add_task_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
}

.upper_part {
  display: flex;
  gap: 40px;
}

.lower_part {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-end;
  margin-top: 24px;
  margin-bottom: 24px;
}

.left_section,
.right_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons_container {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.prio_buttons_container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.prio_buttons {
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.2);
  font-weight: 200;
  white-space: nowrap;
  height: 48px;
  width: 30%;
  min-width: 120px;
  max-width: 180px;
  padding: 8px 8px 8px 8px;
}

.prio_buttons_without_hover {
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.2);
  font-weight: 200;
  white-space: nowrap;
  height: 48px;
  width: 30%;
  min-width: 120px;
  max-width: 180px;
  padding: 8px 8px 8px 8px;
}

.prio_buttons:hover {
  box-shadow: -0.5px 2px 2px 1.5px rgb(0, 0, 0, 0.2);
}

.urgent_button {
  color: white;
  background-color: #ff3d00;
}

.medium_button {
  color: white;
  background-color: #ffa800;
}

.low_button {
  color: white;
  background-color: #7ae229;
}

.medium_img {
  margin-bottom: 3px;
}

.low_image,
.urgent_image {
  height: 14px;
}

.form_elements {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px 8px 16px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  font-size: 20px;
  min-height: 48px;
  font-family: "Inter", sans-serif;
  display: flex;
}

.form_elements:focus {
  border: 1px solid #5ec0e9;
  outline: none !important;
}

.date {
  color: #a8a8a8;
  display: block;
}

.date_after_change {
  color: black;
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

.line {
  color: #d1d1d1;
  border-top: 1px solid d1d1d1;
  border-style: solid;
  margin-block-start: 0;
  margin-block-end: 0;
}

.label_add_task {
  margin-bottom: 8px;
  display: inline-block;
}

#taskForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.p_add_task {
  margin-block-start: 0;
  margin-block-end: 0;
}

.textarea_add_task {
  height: 150px;
  width: 100%;
  resize: none;
}

.red {
  color: red;
}

.subtasks_input {
  flex: 1;
  padding: 0;
  border: none;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

input:-internal-autofill-selected {
  background-color: white !important;
}

.subtasks_input:focus {
  background-color: white;
}

.subtask_container {
  background-color: white;
  padding-right: 0;
  display: flex;
  align-items: center;
}

.subtask_container_blue_border {
  border: 1px solid #5ec0e9;
}

.subtask_image {
  width: 24px;
  height: 24px;
}

.subtask_line {
  height: 24px;
}

.dropbtn {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 4px 8px 16px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  font-size: 20px;
  min-height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtn:focus {
  border: 1px solid #5ec0e9;
}

.red_border {
  border: 1px solid #ff8190 !important;
}

.dropbtnAssignedContact {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 4px 8px 16px;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  font-size: 20px;
  min-height: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropbtnAssignedContact:focus {
  border: 1px solid #5ec0e9;
}

.dropdown_arrow {
  height: 10px;
  width: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
}

.assignedto_dropdown {
  overflow-y: auto;
  height: 240px;
}

.dropdown-content-div {
  box-sizing: border-box;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

.dropdown-content-div:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.show {
  display: block;
}

.dropdown_container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.initials_circle {
  border-radius: 50%;
  border: 2px solid white;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
}

#checkboxContainer {
  display: flex;
  align-items: center;
}

.assignedto_contacts_container {
  display: flex;
  width: 100%;
  margin-top: 8px;
  gap: 8px;
  flex-wrap: wrap;
}

input:focus {
  outline: none;
}

.icons_subtasks_container {
  display: flex;
}

.d_none {
  display: none !important;
}

#subtasksRenderContainer {
  width: 100%;
  /* added by Dominik */
  text-wrap: initial;
}

.rendered_subtask {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  align-items: center;
  height: 32px;
  cursor: pointer;
}

.rendered_subtask:focus {
  background-color: white;
  border: none;
  border-bottom: 1px solid #29abe2;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.rendered_subtasks_span {
  padding-left: 16px;
  padding-right: 8px;
}

.span_container {
  display: flex;
}

.error_container {
  display: block;
  color: #ff8190;
  font-size: 12px;
  margin-top: 4px;
}

.hide_error {
  display: none;
}

#snackbarAddTask {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 17px;
}

#snackbarAddTask.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.assigned_contacts_selected {
  background-color: #2a3647;
  color: white;
  &:hover {
    background-color: #2a3647;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 8px;
}

@media (max-width: 1300px) {
  .add_task_main {
    margin: 120px 40px 40px 40px !important;
  }
}

@media (max-width: 1030px) {
  .p_add_task {
    margin-bottom: 24px;
  }

  .upper_part {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .line {
    display: none;
  }

  .left_section,
  .right_section {
    width: auto;
  }

  .lower_part {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 24px;
    gap: 24px;
  }

  .right_section {
    margin-top: 24px;
  }

  .buttons_container {
    display: flex;
    margin-top: 24px;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  .btn_dark,
  .btn_dark_disabled {
    max-width: 200px;
    font-size: 21px;
    min-width: 125px;
  }

  .btn_bright {
    display: none;
  }

  .btn_dark {
    min-width: 200px;
  }

  .add_task_main {
    margin: 100px 16px 56px 16px !important;
  }

  .subtasks_input {
    box-sizing: border-box;
    padding-right: 0;
    width: 90%;
  }

  .form_elements,
  .dropbtnAssignedContact,
  .subtasks_input {
    font-size: 16px;
  }

  #buttonName {
    font-size: 16px;
  }

  .form_elements,
  .dropbtnAssignedContact {
    min-height: 40px;
  }

  .textarea_add_task {
    height: 80px;
  }

  .prio_buttons {
    height: 40px;
    min-width: 104px;
    max-width: 104px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .prio_buttons_without_hover {
    height: 40px;
    min-width: 104px;
    max-width: 104px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .medium_img {
    margin-bottom: 0;
  }
}
