.footer_mobile {
  height: 80px;
  width: 100%;
  background-color: #2a3647;
}

.footer_mobile_buttons_container {
  display: flex;
  justify-content: space-evenly;
}

.footer_mobile_button {
  height: 76px;
  width: 76px;
  font-size: 14px;
  color: white;
  padding: 0;
  font-weight: 400;
  border-radius: 16px;
  background-color: transparent;
  /* background-image: ; */
}

.footer_mobile_button:hover {
  background-color: #091931;
  opacity: 2;
}

/* Images
src="../assets/templates/template_img/summary_grey.svg"
src="../assets/templates/template_img/board_grey.svg"
src="../assets/templates/template_img/add_task_grey.svg"
src="../assets/templates/template_img/contact_grey.svg" */
