<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="header.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <p>Kanban Projekt Management Tool</p>
      <div class="icon_container_header">
        <a href="../../help/help.html"><img class="help_icon" src="../assets/templates/template_img/help.png" alt="" /></a>
        <a href=""><div class="user_circle_header" id="user_initials"></div></a>
      </div>
    </header>
   
  </body>
</html>
