<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./header.js"></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <p class="join_description">Kanban Projekt Management Tool</p>
      <img class="logo_mobile" src="../assets/img/logo.png" alt="" />
      <div class="icon_container_header">
        <a href="../help/help.html"><img class="help_icon" src="../assets/templates/template_img/help.png" alt="" /></a>
        <div class="user_circle" id="header_dropdown" onclick="showNavHeader(event)">
          <div class="user_circle_header">
            <div id="user_initials"></div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
