<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_and_menu_container">
        <div class="container_logo_sidebar"><img class="logo_sidebar" src="../assets/templates/template_img/join_sidebar.svg" alt="" /></div>

        <div class="menu_sidebar">
          <div>
            <a href="summary.html" class="link_sidebar">
              <img src="../assets/templates/template_img/summary_grey.svg" alt="" />
              <p>Summary</p>
            </a>
            <a href="add_task.html" class="link_sidebar">
              <img src="../assets/templates/template_img/add_task_grey.svg" alt="" />
              <p>Add Task</p>
            </a>
            <a href="board.html" class="link_sidebar">
              <img src="../assets/templates/template_img/board_grey.svg" alt="" />
              <p>Board</p>
            </a>
            <a href="contacts.html" class="link_sidebar">
              <img src="../assets/templates/template_img/contact_grey.svg" alt="" />
              <p>Contacts</p>
            </a>
          </div>
        </div>
      </div>
      <div class="legal_sidebar_container">
        <a href="privacy_policy.html" class="legal_link">Privacy Policy</a>
        <a href="legal_notice.html" class="legal_link">Legal notice</a>
      </div>
    </div>
  </body>
</html>
