<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_and_menu_container">
        <div class="container_logo_sidebar"><img class="logo_sidebar" src="../assets/templates/template_img/join_sidebar.svg" alt="" /></div>

        <div class="menu_sidebar">
        </div>
      </div>
      <div class="legal_sidebar_container">
        <a id="policySidebar" href="../../privacy_policy/privacy_policy_guest.html" class="legal_link">Privacy Policy</a>
        <a id="legalSidebar" href="../../legal_notice/legal_notice_guest.html" class="legal_link">Legal notice</a>
      </div>
    </div>
  </body>
</html>
