<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="sidebar">
      <div class="logo_and_menu_container">
        <div class="container_logo_sidebar"><img class="logo_sidebar" src="../assets/templates/template_img/join_sidebar.svg" alt="" /></div>

        <div class="menu_sidebar">
          <a id="summarySidebar" href="../summary/summary.html" class="link_sidebar">
            <img class="sidebar_menu_img" src="../assets/templates/template_img/summary_grey.svg" alt="" />
            <p class="p_sidebar">Summary</p>
          </a>
          <a id="addTaskSidebar" href="../add_task/add_task.html" class="link_sidebar">
            <img class="sidebar_menu_img" src="../assets/templates/template_img/add_task_grey.svg" alt="" />
            <p class="p_sidebar">Add Task</p>
          </a>
          <a id="boardSidebar" href="../board/board.html" class="link_sidebar">
            <img class="sidebar_menu_img" src="../assets/templates/template_img/board_grey.svg" alt="" />
            <p class="p_sidebar">Board</p>
          </a>
          <a id="contactSidebar" href="../contacts/contacts.html" class="link_sidebar">
            <img class="sidebar_menu_img" src="../assets/templates/template_img/contact_grey.svg" alt="" />
            <p class="p_sidebar">Contacts</p>
          </a>
        </div>
      </div>
      <div class="legal_sidebar_container">
        <a id="policySidebar" href="../privacy_policy/privacy_policy.html" class="legal_link">Privacy Policy</a>
        <a id="legalSidebar" href="../legal_notice/legal_notice.html" class="legal_link">Legal notice</a>
      </div>
    </div>
  </body>
</html>
