h1 {
  font-size: 61px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.contacts_main {
  display: flex;
  height: 100%;
}

.left_section {
  background-color: white;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_section {
  margin: 64px 130px 0 64px;
}

.contacts_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 16px;
  &:hover {
    background-color: #29abe2;
    box-shadow: -0.5px 2px 2px 1.5px rgb(0, 0, 0, 0.2);
  }
}

.headline_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.initials_circle {
  /* background-color: orange; */
  border-radius: 50%;
  border: 2px solid white;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 47px;
}

.initials_and_name_container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.name_container {
  display: flex;
  flex-direction: column;
}

.edit_delete_container {
  display: flex;
  gap: 16px;
}

.contact_name {
  font-size: 47px;
}

/* The Modal (background) */
.modal-bg {
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  position: fixed;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index: 1;
}

/* Modal Content/Box */
.add-contact-modal {
  display: flex;
  background-color: #fefefe;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  min-height: 400px;
}

/* The Close Button */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* add contact popup */
.left-side-modal {
  width: 30%;
  background-color: #2A3647;
}

.right-side-modal {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-and-image {
  display: flex;
  align-items: center;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
}



@keyframes slide-in {
  from {
    display: none;
  } to {
    display: flex;
  }
}