h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  color: white;
  margin-block-end: 0em;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  margin: 96px 130px 0 0 !important;
  overflow-y: hidden;
}

.d_none {
  display: none !important;
}

.d_block {
  display: block !important;
}

.margin_right {
  margin-right: 32px;
}

input:focus {
  border: 1px solid #5ec0e9 !important;
  outline: none !important;
}

.contacts_main {
  display: flex;
  height: 100%;
}

.left_section {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 0 24px 32px 24px;
  min-width: 310px;
  max-width: 310px;
  overflow-y: auto;
}

.contact_button_container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 300px;
}

.all-contacts {
  margin-top: 80px;
}

.right_section {
  margin: 64px 0 0 64px;
}

.image_and_form {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  gap: 16px;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contacts_button {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
  gap: 16px;
  width: 100%;
  &:hover {
    background-color: #29abe2;
    box-shadow: -0.5px 2px 2px 1.5px rgb(0, 0, 0, 0.2);
  }
}

.headline_container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.initials_circle {
  border-radius: 50%;
  border: 2px solid white;
  height: 120px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 47px;
}

.initials_circle_big {
  min-width: 120px;
}

.initials_circle_small {
  height: 42px;
  width: 42px;
  min-height: 42px;
  min-width: 42px;
  font-size: 12px;
}

.initials_and_name_container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.name-and-edit {
  display: flex;
  flex-direction: column;
}

.edit_delete_container {
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: #2a3647;
  margin-top: 8px;
}

.contact_name {
  font-size: 47px;
}

.starting-letter {
  border-bottom: 1px solid lightgray;
  padding: 17px 36px 17px 31px;
}

.contact {
  display: flex;
  padding: 16px;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
}

.contact:hover {
  cursor: pointer;
  background-color: lightgray;
}

.contact-selected {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  border: 0;
  font-family: "Inter", sans-serif;
  background-color: #2a3647;
  color: white;
  &:hover {
    background-color: #2a3647;
  }
}

.contact-mail {
  color: #007cee;
  overflow-wrap: break-word;
  word-break: break-all;
}

.name-and-mail {
  display: flex;
  flex-direction: column;
}

.contact-information {
  font-size: 16px;
}

.contact-information p {
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 20px;
}

.contact-email {
  color: #007cee;
}

.edit-button {
  font-size: 16px;
  color: #2a3647;
  background-color: unset;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  &:hover {
    color: #29abe2;
  }
}

.modal-bg {
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.2s ease;
  z-index: 3;
}

.add-contact-modal {
  display: flex;
  background-color: #fefefe;
  border: 1px solid #888;
  width: 80%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 400px;
  border-radius: 40px;
}

.close-modal {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 40px;
  right: 48px;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.left-side-modal {
  width: 30%;
  background-color: #2a3647;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 56px 160px 56px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.left-side-modal-img {
  width: 56px;
  height: 64px;
}

.right-side-modal {
  width: 70%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.contact_input_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  margin-bottom: 40px;
}

.contact_person_image {
  width: 120px;
  height: 120px;
}

.cancel-and-create-buttons {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.newContactName {
  background-image: url("../assets/img/icons/person.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: calc(100% - 16px);
  font-size: 20px;
}

.newContactEmail {
  background-image: url("../assets/img/icons/mail.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: calc(100% - 16px);
  font-size: 20px;
}

.newContactPhone {
  background-image: url("../assets/img/icons/phone.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: calc(100% - 16px);
  font-size: 20px;
}

.form-and-image {
  display: flex;
  display: flex;
  width: 85%;
}

.add-contact-form {
  display: flex;
  flex-direction: column;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 100px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#errorContainerContacts,
#errorContainerEditContacts {
  height: 24px;
  color: #ff8190;
  margin-top: 24px;
  font-size: 16px;
  margin-bottom: 24px;
}

.contacts-at-letter {
  width: 100%;
}

.floating_button_mobile_contacts {
  display: none;
}

.contact_name_left_section {
  word-break: break-all;
}

.floating_button_mobile_back {
  display: block;
  z-index: 2;
  position: absolute;
  top: 104px;
  right: 24px;
  width: 56px;
  height: 56px;
  background-image: url(../assets/img/icons/arrow-back.svg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-color: transparent;
}

.edit_mobile_button {
  display: none;
}

.delete_mobile_button {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 8px;
}

.line_and_span_container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.horizontal_blue_line {
  display: none;
  width: 120px;
  color: #29abe2;
  height: 2px;
  border-radius: 3px;
  background-color: #29abe2;
  margin: 0;
  margin-bottom: 16px;
}

@media (max-width: 1235px) {
  main {
    margin: 96px 24px 0 0 !important;
  }
  .right_section {
    margin: 24px 0 0 24px;
  }
}

@media (max-width: 1100px) {
  .vertical_blue_line {
    display: none;
  }

  .horizontal_blue_line {
    display: block;
  }

  .headline_container {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .line_and_span_container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }

  h1 {
    margin-right: 16px;
  }
}

@media (max-width: 1000px) {
  .initials_and_name_container {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .edit_delete_container {
    margin-bottom: 24px;
  }

  .headline_container {
    margin-bottom: 48px;
  }
}

@media (max-width: 900px) {
  .right_section {
    display: none;
  }

  .contact-mail {
    word-wrap: break-word;
    flex-wrap: wrap;
  }

  .left_section {
    width: 100%;
    max-width: 10000px;
  }

  .contact {
    margin-top: 8px;
  }

  main {
    margin: 80px 0 0 0 !important;
  }

  .contact_button_container {
    display: none;
  }

  .all-contacts {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 80px;
  }

  .floating_button_mobile_contacts {
    display: block;
    z-index: 2;
    position: absolute;
    bottom: 112px;
    right: 32px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: #2a3647;
    background-image: url(../assets/img/icons/add_person_32px.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .floating_button_three_dots {
    display: block;
    z-index: 2;
    position: absolute;
    bottom: 112px;
    right: 32px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-color: #2a3647;
    background-image: url(../assets/img/icons/three_dots_32px.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .edit_delete_button_container {
    display: block;
    z-index: 3;
    position: absolute;
    bottom: 104px;
    right: 24px;
    border-radius: 32px;
    border-bottom-right-radius: 0;
    width: 116px;
    height: 104px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .edit_mobile_button,
  .delete_mobile_button {
    display: block;
    border-radius: 8px;
    position: relative;
    top: 16px;
    font-size: 16px;
    font-weight: 400;
    width: 90%;
    left: 10%;
    background-color: transparent;
    background-repeat: no-repeat, repeat;
    background-position: 8px 8px;
  }

  .edit_mobile_button {
    background-image: url(../assets/img/icons/edit.svg);
  }

  .delete_mobile_button {
    background-image: url(../assets/img/icons/delete.svg);
    padding-left: 20px;
    padding-right: 0;
  }

  .starting-letter {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 20px;
  }

  .contact {
    font-size: 20px;
  }

  .contact-mail {
    font-size: 16px;
  }

  .header_and_main {
    background-color: white;
  }

  .add-contact-modal {
    flex-direction: column;
    border-radius: 24px;
    max-width: 430px;
  }

  .left-side-modal {
    width: auto;
    padding: 40px 24px 100px 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 24px;
  }

  .close-modal {
    top: 16px;
    right: 20px;
    color: white;
  }

  .right-side-modal {
    width: auto;
    margin-top: 0;
  }

  .image_and_form {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact_person_image {
    width: 120px;
    height: auto;
    margin-top: -60px;
  }

  .contact_input_container {
    margin-top: 24px;
    gap: 8px;
  }

  .btn_bright {
    display: none;
  }

  .cancel-and-create-buttons {
    justify-content: center;
  }

  .p_add_contact {
    font-size: 20px;
  }

  #snackbar {
    margin-bottom: 56px;
    border-radius: 20px;
    background-color: #2a3647;
  }

  .left-side-modal-img {
    display: none;
  }

  .edit_delete_container {
    display: none;
  }

  .contact-selected {
    background-color: transparent;
    color: black;
  }

  .form-and-image {
    flex-direction: column;
  }

  .margin_right {
    margin-right: 0;
  }

  .form-and-image {
    align-items: center;
    margin-top: -60px;
  }

  .close-modal:hover,
  .close-modal:focus {
    text-decoration: none;
    cursor: pointer;
  }

  .initials_circle_overview {
    width: 64px;
    height: 64px;
    min-width: 64px;
    font-size: 32px;
  }

  .right_section {
    margin: 16px 0 0 16px;
  }

  .headline_container {
    margin-bottom: 16px;
  }

  .contact_name {
    font-size: 24px;
  }

  .contact-information h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 4px;
    margin-top: 8px;
  }

  .contact-information p {
    margin-block-end: 16px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 32px;
  }

  .p_add_contact {
    display: none;
  }

  input {
    font-size: 16px !important;
    height: 24px;
  }

  .contact_person_image {
    width: 80px;
    height: auto;
    margin-top: -40px;
  }

  .left-side-modal {
    padding: 40px 24px 72px 24px;
  }

  .left_section {
    padding: 0 0 0 0;
  }
}
